@{
    ViewData["Title"] = "EddCursos";
}

<div class="text-center">
    <h2 class="display-4">Hola mundo, mi primera página MVC netcore 5</h2>
    <p>programar es mi pasión</p>
    <p>hola</p>
</div>
